body {
    display: flex;
    flex-direction: column;
}

header {
    border: 2px solid rebeccapurple;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.title {
    color: rebeccapurple;
}

article {
    flex: 2;
    overflow-y: auto;
    border: 2px solid rebeccapurple;
}

aside {
    flex: 1;
    overflow-y: auto;
    border: 2px solid rebeccapurple;
}

footer {
    border: 2px solid rebeccapurple;
}

li {
    color: rebeccapurple;
}